@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Rum+Raisin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image: url('/assets/img/harry.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}
.cabeçalho-logo h1{
    font-family: "Rum Raisin";
    color: #015f73;
    font-size: 48px;
    letter-spacing: 3px;
}
.cabeçalho-logo h1:hover{
    cursor: pointer;
    color:#e69b0d; 
}


.links {
    display: flex;
    gap: 60px;
}
.links a{
    font-family: "roboto";
    color: #fff;
    font-size: 25px;
}

.links a:hover{
    cursor: pointer;
    color:#e69b0d;
}
.links a span{
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10%;
    font-weight: bold;
}

.links a span:hover{
    cursor: pointer;
    font-size: 28px;
    background-color: #fff;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh;
    width: 50%;
}
.conteudo h1{
    color: #fbf2f2;
    font-size: 70px;
    font-family: Rum Raisin;
}

.conteudo p{
    color: #fcfcfc;
    letter-spacing: 1px;
    text-align: center;
    line-height: 25px;
        
}
.conteudo button{
    margin-top: 20px;
    padding: 15px;
    width: 150px;
    background-color: #0e3438;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    font-family: Rum Raisin;
}

.conteudo button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #015f73;
}

.rodape {
    height: 60px;
    background-color: #015f73;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.producao {
    color: #fff;
    margin-left: 35%;
}

.producao h1 {
    font-family: roboto;
}

.rede-sociais{
    display: flex;
    gap: 10px;
    margin-left: 10px;
}



